.container {
  /* put around the vertical center of page */
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: #0408f8;
  color: #fafaff;
  font-size: 20px;
  justify-content: center;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.btn-margin {
  margin-right: 10px; /* Adjust the desired margin between the buttons */
}
